body {
    color: white;
   background-color: black;
}
section {
    background-color: yellowgreen;
    padding-top: 80px;
    padding-bottom: 80 pix;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%px;
}